<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZdncZMFlgu3Vf_NciuIB882kXKKegHGs</string>
	<key>GCM_SENDER_ID</key>
	<string>162336837642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.edu.ait.studysync</string>
	<key>PROJECT_ID</key>
	<string>studysync-6779b</string>
	<key>STORAGE_BUCKET</key>
	<string>studysync-6779b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162336837642:ios:3c64ceed6e7a93a6fe0ff3</string>
</dict>
</plist>